[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=CityBike'me
Icon=harbour-citybikeme
Exec=harbour-citybikeme
Name[fr_FR]=harbour-feedme
